<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>202002353863-9vr2e5epqvpn3lmbjh0r35dfiha48nqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202002353863-9vr2e5epqvpn3lmbjh0r35dfiha48nqc</string>
	<key>API_KEY</key>
	<string>AIzaSyCbdHqEPfUpLHMF9w-il3JTwpg3md96ltI</string>
	<key>GCM_SENDER_ID</key>
	<string>202002353863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fredhedz.FractalFriend</string>
	<key>PROJECT_ID</key>
	<string>fractalfriend-fd309</string>
	<key>STORAGE_BUCKET</key>
	<string>fractalfriend-fd309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:202002353863:ios:9e5cc06cf5c200c0</string>
	<key>DATABASE_URL</key>
	<string>https://fractalfriend-fd309.firebaseio.com</string>
</dict>
</plist>